# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
.next/
dist/
build/

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Expo
.expo/
.expo-shared/
dist/
npm-debug.*

# Cache
.eslintcache

# OS
Thumbs.db
